h1.h1_title {
    font-weight: 300;
    font-size: 60px;
    color: #212529;
    max-width: 100%;
    font-family: var(--font-family)
}

h1.h1_title span {
    color: #1400c4
}

@media (max-width: 1024px) {
    h1.h1_title {
        font-size:28px
    }
}

.map_wrap_title * {
    font-family: var(--font-family)
}

@media (min-width: 768px) {
    .map_wrap_title {
        display:block
    }

    .map_wrap_title .right {
        display: none
    }
}

.map_wrap li {
    font-family: var(--font-family)
}

@media (max-width: 1024px) {
    .map_wrap .map_title_items {
        margin-bottom:50px
    }
}

.list_items {
    padding-top: 1px;
    margin-bottom: 50px
}

.list_items * {
    font-family: var(--font-family)
}

.list_items .title {
    font-weight: 300;
    font-size: 60px;
    color: #212529;
    font-family: var(--font-family);
    margin: 0 0 100px
}

@media (max-width: 1024px) {
    .list_items .title {
        font-size:38px;
        margin-bottom: 60px
    }
}

.list_items .item_block {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    display: flex;
    padding: 50px 40px 50px 0;
    gap: 30px;
    font-family: var(--font-family);
    align-items: start;
    background: linear-gradient(90deg,#f5f5f5 0%,rgba(245,245,245,0) 50%);
    overflow: hidden
}

.list_items .item_block .left {
    flex: 0 0 327px;
    max-width: 327px;
    padding: 0 41px;
    position: relative
}

.list_items .item_block .left .swiper_arrow_btn-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 34px;
    height: 34px;
    box-shadow: 10px 0 30px 0 rgba(0,0,0,0.1);
    background: #F5F5F5 url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6836 1.27158L1.33779 10.6049L10.6836 19.9382' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat;
    cursor: pointer;
    margin: auto;
    transition: all 0.3s
}

.list_items .item_block .left .swiper_arrow_btn-prev:hover {
    background: #0091ff url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6836 1.27158L1.33779 10.6049L10.6836 19.9382' stroke='%23ffffff' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat
}

.list_items .item_block .left .swiper_arrow_btn-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 34px;
    height: 34px;
    box-shadow: 10px 0 30px 0 rgba(0,0,0,0.1);
    background: #F5F5F5 url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.31641 1.27158L10.6622 10.6049L1.31641 19.9382' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat;
    cursor: pointer;
    margin: auto;
    transition: all 0.3s
}

.list_items .item_block .left .swiper_arrow_btn-next:hover {
    background: #0091ff url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.31641 1.27158L10.6622 10.6049L1.31641 19.9382' stroke='%23ffffff' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat
}

.list_items .item_block .right {
    flex: 1 1 auto
}

.list_items .item_block .right .square {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #717171;
    display: none
}

.list_items .item_block .right .item_name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    max-width: 890px
}

.list_items .item_block .right .item_name .name {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #0091ff
}

.list_items .item_block .right .item_name .square {
    display: block
}

.list_items .item_block .right .text {
    max-width: 890px;
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    color: #717171;
    margin: 0 0 30px
}

.list_items .item_block .right .btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    background: #1400c4;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    padding: 16px 40px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0
}

.list_items .item_block .right .btn:hover {
    opacity: 0.8
}

@media (max-width: 1024px) {
    .list_items .item_block {
        padding:50px 20px 20px 0
    }

    .list_items .item_block .right .item_name .square {
        display: none
    }

    .list_items .item_block .right>.square {
        display: block;
        margin-bottom: 60px
    }
}

@media (max-width: 767px) {
    .list_items .item_block {
        display:block;
        padding: 0;
        background: none
    }

    .list_items .item_block .left {
        max-width: 100%;
        margin-bottom: 0;
        padding: 50px 42px 48px;
        background: linear-gradient(90deg,#f5f5f5 0%,rgba(245,245,245,0) 50%);
        text-align: center;
        border-bottom: 1px solid #e6e6e6
    }

    .list_items .item_block .right {
        padding-top: 30px
    }

    .list_items .item_block .right .item_name {
        padding: 0 20px 24px
    }

    .list_items .item_block .right .text {
        padding: 0 20px
    }

    .list_items .item_block .right .square {
        padding: 0 20px
    }

    .list_items .item_block .right .btn {
        display: block;
        margin: 0 -1px -1px
    }
}

.list_items .hr {
    margin: 25px 0;
    height: 1px;
    background: #a1a1a1
}

.list_items .list_items_inner {
    margin-bottom: 50px
}

.list_items .btn_show_more {
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    font-family: var(--font-family);
    padding: 16px 30px;
    border: 1px solid #000;
    background: #fff;
    transition: all 0.3s;
    text-align: center;
    transition: all 0.3s
}

.list_items .btn_show_more:hover {
    background: #fff;
    opacity: 0.8
}

.tags_list {
    position: relative;
    padding-bottom: 100px
}

.tags_list * {
    font-family: var(--font-family)
}

.tags_list .swiper_arrow_btn-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 34px;
    height: 58px;
    background: #F5F5F5 url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6836 1.27158L1.33779 10.6049L10.6836 19.9382' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat;
    cursor: pointer;
    margin: auto;
    transition: all 0.3s;
    z-index: 2
}

.tags_list .swiper_arrow_btn-prev:hover {
    background: #0091ff url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6836 1.27158L1.33779 10.6049L10.6836 19.9382' stroke='%23ffffff' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat
}

.tags_list .swiper_arrow_btn-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    width: 34px;
    height: 58px;
    background: #F5F5F5 url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.31641 1.27158L10.6622 10.6049L1.31641 19.9382' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat;
    cursor: pointer;
    margin: auto;
    transition: all 0.3s;
    z-index: 2
}

.tags_list .swiper_arrow_btn-next:hover {
    background: #0091ff url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.31641 1.27158L10.6622 10.6049L1.31641 19.9382' stroke='%23ffffff' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat
}

.tags_list .swiper_arrow {
    display: none
}

@media (max-width: 767px) {
    .tags_list .swiper_arrow {
        display:block
    }
}

.tags_list .mySwiper_tag {
    position: relative;
    z-index: 1
}

.tags_list .tag {
    padding: 21px 40px;
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    display: inline-block;
    vertical-align: top;
    font-family: var(--font-family);
    transition: all 0.3s;
    background: #f5f5f5;
    text-decoration: none
}
.tags_list .tag.current {
    font-weight: bold;
}
.tags_list .tag:hover {
    opacity: 0.8
}
.tags_list .tag.current:hover {
    opacity: 1;
}
.tags_list .swiper-slide {
    width: auto
}

@media (min-width: 768px) {
    .tags_list .swiper-wrapper {
        gap:20px;
        flex-wrap: wrap
    }
}

@media (max-width: 767px) {
    .tags_list {
        padding-left:49px;
        padding-right: 49px;
        padding-bottom: 0;
        margin-bottom: 60px
    }
}

.content_text .content_text_inner {
    border: solid #a1a1a1;
    border-width: 1px 0;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 300;
    font-size: 24px;
    line-height: 158%;
    color: #212529;
    font-family: var(--font-family)
}

.content_text .content_text_inner * {
    font-family: var(--font-family)
}

.content_text .content_text_inner p {
    margin: 0 0 16px
}

.content_text .content_text_inner h2 {
    font-weight: 300;
    font-size: 48px;
    color: #1400c4;
    margin: 0 0 40px
}

.content_text .content_text_inner .clear {
    padding-bottom: 80px
}

@media (max-width: 1024px) {
    .content_text .content_text_inner {
        padding:50px 0;
        font-size: 18px
    }

    .content_text .content_text_inner p {
        margin: 0 0 10px
    }

    .content_text .content_text_inner h2 {
        font-size: 38px;
        margin-bottom: 30px
    }

    .content_text .content_text_inner .clear {
        padding-bottom: 40px
    }
}

#infrastruktura {
    overflow: hidden
}

#infrastruktura .infrastruktura_block {
    padding-top: 100px;
    padding-bottom: 100px
}

@media (max-width: 767px) {
    #infrastruktura .infrastruktura_block {
        padding-top:60px;
        padding-bottom: 60px
    }

    #infrastruktura .infrastruktura_block .part_description {
        text-align: left
    }
}

#infrastruktura .infrastruktura_block .title {
    font-weight: 300;
    font-size: 60px;
    color: #212529;
    font-family: var(--font-family);
    margin: 0
}

@media (max-width: 767px) {
    #infrastruktura .infrastruktura_block .title {
        font-size:38px;
        margin-bottom: 70px
    }
}

#infrastruktura .infrastruktura_block .location_block_wr {
    margin-top: 0
}

#infrastruktura .pro_block_wr .pro_ins_wr {
    margin-top: 0;
    margin-bottom: 0
}

@media (max-width: 767px) {
    #infrastruktura .pro_block_wr .part_description {
        text-align:left
    }

    #infrastruktura .pro_block_wr .part_title {
        font-size: 38px
    }
}

.accor_block_wr {
    padding-top: 100px;
    padding-bottom: 100px
}

.accor_block_wr * {
    font-family: var(--font-family)
}

@media (max-width: 1024px) {
    .accor_block_wr {
        padding-top:60px;
        padding-bottom: 60px
    }
}

.accor_block_wr .title {
    font-weight: 300;
    font-size: 60px;
    color: #212529;
    font-family: var(--font-family);
    margin: 0 0 50px
}

@media (max-width: 1024px) {
    .accor_block_wr .title {
        font-size:38px;
        margin-bottom: 30px
    }
}

.accor_block_wr .accor_item {
    margin-bottom: 20px
}

.accor_block_wr .accor_item .accor_name {
    padding: 23px 70px 23px 25px;
    font-weight: 700;
    font-size: 18px;
    color: #020018;
    background: #f5f5f5;
    cursor: pointer;
    position: relative
}

.accor_block_wr .accor_item .accor_name:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    width: 34px;
    height: 34px;
    background: url("data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3164 7.27148L21.6622 16.6048L12.3164 25.9381' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat;
    margin: auto;
    transition: all 0.3s
}

.accor_block_wr .accor_item .accor_body {
    border-top: 1px solid #a1a1a1;
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    color: #212529;
    padding: 50px 25px;
    display: none;
    background: rgba(245,245,245,0.5)
}

.accor_block_wr .accor_item .accor_body p {
    margin: 16px 0
}

.accor_block_wr .accor_item .accor_body h3 {
    font-weight: 700;
    font-size: 28px;
    color: #1400c4;
    margin: 0 0 50px
}

.accor_block_wr .accor_item.opened .accor_name:before {
    transform: rotate(90deg)
}

.accor_block_wr .accor_item.opened .accor_body {
    display: block
}

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
    background: rgba(20,0,196,0.7)
}

.remodal-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8)
}

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch
}

.remodal-wrapper * {
    font-family: var(--font-family)
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
    vertical-align: middle
}

.remodal-wrapper .remodal {
    width: 100%;
    max-width: 580px;
    background: #1400c4;
    position: relative;
    padding: 50px 40px 25px;
    vertical-align: middle;
    display: inline-block
}

.remodal-wrapper .remodal .close-button {
    width: 22px;
    height: 22px;
    position: absolute;
    font-size: 0;
    border: none;
    background: none;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 0;
    background: #fff url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.769287 0.769287L5.00006 5.00006L0.769287 9.23083' stroke='black' stroke-width='1.5' /%3E%3Cpath d='M9.23071 0.769287L4.99994 5.00006L9.23071 9.23083' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat
}

.remodal-wrapper .remodal .popup-form {
    text-align: left
}

.remodal-wrapper .remodal .popup-form__title {
    font-weight: 300;
    font-size: 59px;
    color: #fff;
    margin-bottom: 40px
}

@media (max-width: 767px) {
    .remodal-wrapper .remodal .popup-form__title {
        font-size:38px
    }
}

.remodal-wrapper .remodal .popup-form__form-field {
    margin-bottom: 15px
}

.remodal-wrapper .remodal .popup-form__form-field.policity-field {
    margin: 5px 0
}

.remodal-wrapper .remodal .popup-form__form-field input[type=text],.remodal-wrapper .remodal .popup-form__form-field input[type=email],.remodal-wrapper .remodal .popup-form__form-field select,.remodal-wrapper .remodal .popup-form__form-field textarea {
    width: 100%;
    border: none;
    transition: all 0.3s ease;
    border-radius: 0;
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
    height: 48px
}

.remodal-wrapper .remodal .popup-form__form-field input[type=text]::placeholder,.remodal-wrapper .remodal .popup-form__form-field input[type=email]::placeholder,.remodal-wrapper .remodal .popup-form__form-field select::placeholder,.remodal-wrapper .remodal .popup-form__form-field textarea::placeholder {
    color: #fff
}
.remodal-wrapper .remodal .popup-form__form-field small {
    font-size: 12px;
    color: red;
}

.remodal-wrapper .remodal .popup-form__form-field label {
    font-weight: 400;
    font-size: 14px;
    color: #fff
}

.remodal-wrapper .remodal .popup-form__form-field label a {
    color: inherit
}

.remodal-wrapper .remodal .popup-form__form-field label a:hover {
    text-decoration: none;
    color: #fff
}

.remodal-wrapper .remodal .popup-form__form-field.policity-field {
    padding: 15px 0 25px
}

.remodal-wrapper .remodal .popup-form__form-field .tpl-form-button {
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    padding: 24px 70px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease
}
.remodal-wrapper .remodal .popup-form__form-field .tpl-form-button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.remodal-wrapper .remodal .popup-form__form-field .tpl-form-button:hover {
    opacity: 0.8
}

#scroll_bottom {
    position: fixed;
    bottom: 120px;
    right: 30px;
    z-index: 900;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.5
}

#scroll_top {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 900;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0.5
}

#scroll_top:hover {
    opacity: 1
}

#infrastruktura *,#invest_form * {
    font-family: var(--font-family)
}

#infrastruktura .pro_ins_wr .part_list_title span {
    white-space: nowrap;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit
}

@media (max-width: 767px) {
    #infrastruktura .part4 .part4_item_wrap {
        padding:20px
    }
}

.btn_list_open {
    cursor: pointer;
    position: relative;
    padding: 24px 21px;
    background: #F5F5F5;
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #020018;
    font-family: var(--font-family);
    margin-bottom: 60px
}

@media (min-width: 992px) {
    .btn_list_open {
        display:none
    }
}

.btn_list_open:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 34px;
    height: 34px;
    background: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.2284 12.3164L16.8951 21.6622L7.56176 12.3164' stroke='black' stroke-width='1.5' /%3E%3C/svg%3E") 50% no-repeat;
    margin: auto;
    transition: all 0.3s;
    transform: rotate(0deg)
}

.btn_list_open.active:before {
    transform: rotate(180deg)
}

@media (max-width: 991px) {
    .list_items_map {
        display:none
    }

    .list_items_map.opened {
        display: block
    }
}

#infrastruktura .infrastruktura_block {
    padding-bottom: 0px;
}
#infrastruktura .infrastruktura_block .part4 {
    margin-bottom: 0px;
}

.web-form-succes-sales {
    opacity: 1 !important;
    visibility: visible !important;
}