div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
@media (max-width: 500px) {
  #tire1 {display: none;}
  #tire2{display: none;}
  #tire3{top: 650px !important;}
  #tire4{top: 900px !important;}
  #tire5{top:1065px;}
  #tire6{top: 1280px;}
  .tire{left: 9% !important; width: 80% !important;}
}
@media(min-width: 500px){
	#tire5{display: none;}
}
@media (min-width: 700px){
	#rec237486829 .tn-elem[data-elem-id="1601035502099"]{width: 642px !important;top:160px !important;}
	#rec237486829 .tn-elem[data-elem-id="1601035408475"]{width: 700px !important;}
}
@media(min-width: 500px) and (max-height: 600px){
	.tire{width: 89% !important;left: 5% !important;}
	#tire2{top: 550px !important;}
  #tire3{top: 680px !important;}
  #tire4{top: 820px !important;}
}
@media(min-width:1800px){
.tire {
    width: 48% !important;
    left: 22% !important;
}
	#rec237486829 .tn-elem[data-elem-id="1601035660705"]{width:90px;}
}
@media(min-width:1300px) and (max-width:1450px){
.tire {
    width: 65% !important;
    left: 12% !important;
}
}
@media (min-width:600px) and (max-width: 900px) 
and (orientation:portrait) {
	.tire {
    left: 13%	!important;
    width: 79% !important;
}
	#tire2{top:550px !important;}
	#tire3{top:675px !important;}
	#tire4{top:810px !important;}
}
