#rec234084643 .tn-elem[data-elem-id="1601322920014"] .tn-atom a {
	color:#000;
	text-decoration:none;
}

#rec234084526 .tn-elem[data-elem-id="1601312326260"] .tn-atom{
	font-size: 16px!important;
	
}
#rec234084526 .tn-elem[data-elem-id="1601312326260"]{
	    width: 34%!important;
}
#rec234084526 .tn-elem[data-elem-id="1601033263271"] .tn-atom{
	font-size: 16px!important;
	
}

#rec234084526 .tn-elem[data-elem-id="1601033263271"]{
	    width: 34%!important;


}
#rec234082344 .tn-elem[data-elem-id="1601312326260"] .tn-atom{
	font-size: 16px!important;
	
}
#rec234082344 .tn-elem[data-elem-id="1601312326260"]{
	    width: 34%!important;

}

#rec234082344 .tn-elem[data-elem-id="1601033263271"] .tn-atom{
	font-size: 16px!important;

}
#rec234082344 .tn-elem[data-elem-id="1601033263271"]{
	    width: 34%!important;

}

