div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.t539__container.t-container {
	diplay:flex;
	flex-wrap:wrap;
}
.t539__container.t-container .t-col {
	width: calc(33% - 40px);
}
.t539 > .t-section__container .t-col.t-col_12{
	margin: 0;
}
@media screen and (max-width: 766px) {
	.t539__container.t-container .t-col {
		width: 100%;
		margin-left:0;
		margin-right:0;
		padding: 0 20px;
		box-sizing:border-box;
		max-width:100%;
	}
}

